# EditorConfig is awesome: https://EditorConfig.org

# This is a top-most EditorConfig file.
root = true

# UTF-8, Unix-style newlines, 2 spaces as indents, and a newline ending every file.
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
insert_final_newline = true
